<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spicycurryman.getdisciplined10.app" >




    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light_appalled" >

        <activity
            android:name="com.spicycurryman.getdisciplined10.app.MainActivity"

            android:label="@string/app_name" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name="com.spicycurryman.getdisciplined10.app.BlockActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivity" />

        </activity>


        <activity android:name="com.spicycurryman.getdisciplined10.app.SetupActivity" >
        </activity>



    </application>

</manifest>
